# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# test coverage
coverage/

# environment
.env
.env.*.local

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# temp
tmp/
temp/
